<!doctype html>
<html>
    <head>
        <title><%= task_id %></title>
        <link rel="stylesheet" href="/static/xterm.css" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
    </head>
    <body>
        <div class="term">
          <div id="terminal-container" data-taskid="<%= task_id %>"></div>
        </div>
        <div class="status-bar">
          <div class="bar-item">
            <span>
              <i class="fas fa-user icon"></i><%= user %>
            </span>
          </div>
          <div class="task_id bar-item">
            <span>
              <a href="<%= mesos_master_url %>/#/agents/<%= slave_id %>/frameworks/<%= framework_id %>/executors/<%= task_id %>" target="_blank">
                <i class="fas fa-chevron-circle-right icon"></i><%= task_id %>
              </a>
            <div class="tooltip fade copy-btn" data-title="Copied!" data-clipboard-text="<%= task_id %>"><i class="far fa-copy"></i></div>
            </span>
          </div>
          <div class="bar-item">
            <span>
              <i class="far fa-hdd icon"></i><%= slave_hostname %>
            </span>
          </div>
          <div class="brand bar-item">
            <span>
              <a href="https://github.com/clems4ever/mesos-term" target="_blank"><i class="fab fa-github icon"></i>MesosTerm</a>
            </span>
          </div>
        </div>
        <div class="connection-closed-splash">
          <span>
            <i class="fas fa-times-circle icon"></i>
            Connection has been closed. The container probably stopped...
          </span>
        </div>
        <div class="background-watermark">
          <img src="static/images/mesos.png"/>
        </div>

        <script src="static/clipboard.min.js"></script>
        <script src="static/fontawesome-all.min.js"></script>
        <script src="static/jquery-3.3.1.min.js"></script>
        <script src="static/xterm.js" ></script>
        <script src="static/addons/attach/attach.js" ></script>
        <script src="static/addons/fit/fit.js" ></script>
        <script src="static/main.js"></script>
    </body>
</html>
